@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Poppins:ital,wght@0,500;0,700;1,100;1,200;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
}

/* Codigo para la cabecera de la página */

header{
    align-items: center;
    display: flex;
    height: 174px;
    justify-content: space-between;
    padding: 65px 165px;
    position: absolute;
    width: 100%;
}

p{
    color: #242E52;
    font-size: 20px;
    text-align: center;
}

span{
    margin: 1rem;
}

.boton{
    align-items: center;
    background-color: #F3603B;
    border-color: #F3603B;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: #FFFFFF ;
    display: flex;
    flex-direction: row;
    height: 44px;
    justify-content: center;
    padding: 10px;
    width: 134px;
}

.boton:hover{
    background-color: #242E52;
}

.hamburguesa{
    display: none;
}

/* código para la sección de gráfico */

.box1{
    display: inline-block;
    margin: 15% 10%;
    position: absolute;
    width: 80%;
}

.texto1{
    display: flex;
    flex-direction: column;
    height: 198px; 
    position: absolute;
    width: 500px;
}

.titulop{
    Color: #232C50;
    font-size: 58px;
    font-weight: 700;
    letter-spacing: -0.035 em;
    line-height: 66px;
    text-align: left;
}

.contenidop{
    color: #000000;
    font-size: 16.5584px;
    font-weight: normal;
    line-height: 157.1%;
    padding: 5% 20% 5% 0px;
    text-align: left;
}

.intro{
    margin-left: 50%;
}

/* Código para sección informativa */

.informativo{
    display: flex;
    margin: 53% 10%;
    position: absolute;
    width: 80%;
}

.pregunta{
    display: inline-block;
    flex-direction: column;
    width: 40%;
}

.question{
    align-items: center;
    color: #232851;
    font-size: 36px;
    font-weight: 700;
    line-height: 114.6%;
    text-align: left;
}

.informacion{
    align-items: center;
    color: #000000;
    font-size: 16.5584px;
    font-weight: normal;
    line-height: 157.1%;
    padding: 5% 20% 5% 0px;
    text-align: left;
}

.texto2{
    display: flex;
    display: inline-block;
    flex-direction: column;
    width: 50%;
}

.numero{
    align-items: center;
    background-color: #F3603B;
    border-color: #F3603B;
    border-radius: 30px;
    color: #FFFFFF ;
    display: inline-block;
    gap: 10px;
    height: 44px;
    justify-content: center;
    margin-left: 8rem;
    padding: 10px 25px;
    position: relative;
    width: 70px;
}

.idea{
    align-items: center;
    color:#323851;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.015em;
    line-height: 23px;
    margin-left: 1.4rem;
    text-align: left;
}

.complemento{
    align-items: center;
    color: #B3B2B7;
    display: inline-block;
    font-size: 16.2984px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.01em;
    margin-left: 14rem;
    text-align: left;
}

/* Codigo para sección de testimoniales */

.testimonios{
    display: flex;
    height: 400px;
    justify-content: center;
    width: 100%;
}

.contenedor{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 100% auto;
    position: absolute;
    width: 90%;
    
}

.encabezado{
    color: #242E53;
    font-weight: 700;
    font-size: 39.2143px;
    letter-spacing: -0.01em;
    line-height: 156.6%;
    margin: 100% auto;
    margin-left: 39%;
    text-align: center;

}

div{
    background-color: #FAFAFA;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
    margin: 15% auto;
    position: relative;
    width: 445px;
}

.avatar{
    bottom: 20%;
    justify-content: center;
    left: 34%;
    position: relative;

}

.nombre{
    color: #3F4868;
    font-size: 16.0714px;
    font-weight: 700;
    letter-spacing: -0.01em;
}

.descripcion{
    color:#B9B9C1;
    font-size: 16px;
    font-weight: normal;
    line-height: 156.6%;
    text-align: center;
}

.get{
    align-items: center;
    background-color: #F3603B;
    border-color: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #FFFFFF ;
    height: 44px;
    justify-content: center;
    left: 46%;
    margin: 145% auto;
    padding: 10px;
    position: absolute;
    right: 50%;
    width: 134px;
}

.get:hover{
    background-color: #242E52;
}


/* Código para el footer*/

footer{
    display: flex;
    flex-direction: column;
    margin-top: 130%;
    width: 100%;
}

.principal{
    background-color: #F3613C;
    height: 224px;
    width: 100%;
}

.texto_footer{
    color: #FFFFFF;
    display: flex;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    height: 96px;
    initial-letter: -0.05em;
    line-height: 48px;
    margin: 4% 13%;
    text-align: left;
    width: 465px;
}

.get_footer{
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    bottom: 60%;
    color: #F3603B ;
    height: 44px;
    justify-content: center;
    left: 80%;
    padding: 10px;
    position: relative;
    width: 134px;
}

.get_footer:hover{
    background-color: #242E52;
}

.menu{
    background-color: #1E1E26;
    display: flex;
    height: 247px;
    width: 100%;
}

.img_footer{
    height: 23.74px;
    left: 13%;
    position: relative;
    top: 20%;
}

a{
    color: #FFFFFF;
    height: 20px;
    left: 4%;
    margin-left: 0.8%;
    position: relative;
    top: 70%;
    width: 20px;
}

ul,
.lista2{
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    margin-left: 15%;
    margin-top: 2.5%;
}

form{
    background-color: #FFFFFF;
    border-radius: 50px;
    height: 44px;
    margin-top: 3%;
    margin-left: 5%;
    padding: 10px;
    width: 201px;
}

input{
    border: none;
}

.go{
    background-color: #F3603B;
    border-radius: 50px;
    color: #FFFFFF;
    gap: 10px;
    height: 42px;
    margin-left: 4%;
    margin-top: -0.7%;
    padding: 10px;
    position: absolute;
    width: 63px;
}

.menu p{
    color: #8C8C94;
    display: flex;
    flex-direction: column;
    font-size: 12.5px;
    font-weight: 500;
    height: 19.85px;
    line-height: 18px;
    margin-left: 75%;
    margin-top: 12%;
    position: absolute;
    width: 230px;
}

/* Código responsive para mobile */

@media screen and ( max-width: 375px) {
    
    /* Código para header mobile*/

    body{
        width: 100%;
    }
    header{
        height: 100px;
        padding: 20px 30px;
    }

    header img{
        height: 15px;
        width: 85px;
    }

    span, 
    header .boton{
        display: none;
    }

    .box1 .boton{
        margin-left: 30%;
    }

    .hamburguesa{
        width: 25px;
        display: flex;
    }

    /*Código para position column*/ 
    .box1,
    .texto1,
    .informativo,
    .contenedor, 
    footer .principal,
    footer .menu{
        display: flex;
        flex-direction: column;
    }

    /* Código para primera sección*/
    
    .intro{
        display: flex;
        justify-content: center;
        order: 1;
        margin-top: 10%;
        width: 80%;
    }

    .texto1{
        margin-top: 105%;
        position: absolute;
        width: 100%;
    }

    .titulop, 
    .contenidop, 
    .intro{
        margin-left: 0%;
        text-align: center;
        width:100%;
    }

    .titulop{
        font-size: 30px;
        line-height: 40px;
        width: 100%;
    }

    .contenidop{
        font-size: 14px;
        padding: 5%;
        text-align: center;
    }

    .contenidop, 
    .informacion,
    .complemento{
        color:#B9B9C1;
    }

    /* Código para sección informativa*/
    .informativo{
        margin-top: 185%;
    }

    .pregunta .question{
        font-size: 28px;
        line-height: 35px;
        padding: 5%;
        text-align: center;
        width: 320px;
    }

    .informacion,
    .complemento{
        font-size: 15px;
        padding: 5%;
        text-align: center;
        width: 320px;
    }

    .numero{
        margin-left: 1%;
    }

    .texto2{
        margin-left: -10%;
        margin-top: 15%;
        width: 360px;
    }

    .idea{
        margin-left: -0.2%;
    }

    .complemento{
        font-weight: lighter;
        margin-left: -5%;
        text-align: left;
        width: 360px;
    }
    /* Para seccion testimoniales*/

    .tarjeta1, .tarjeta3{
        display: none;
    }

    .testimonios .get{
        margin-left: -13%;
        margin-top: 550%;
    }

    .testimonios .encabezado{
        font-size: 30px;
        margin-left: 15%;
        margin-top: 420%;
    }

    .complemento{
        margin-left: 0.5%;
    }

    .tarjeta2{
        height: 200px;
        justify-content: center;
        margin-top: 420%;
        width: 350px;
    }

    .tarjeta2 .nombre{
        margin-top: -10%;
    }

    .tarjeta2 img{
        margin-left: 3.5%;
        width: 25%;
    }

    .contenedor{
        margin-left: -3%;
        width: 90%;
    }

    /*Código para footer*/

    footer{
        margin-top: 520%;
    }

    footer .principal{
        flex-direction: column;
        font-size: 60px;
        height: 400px;
        padding-left: 3.5%;
        width: 375px;
    }

    footer .menu{
        flex-direction: row;
        height: 500px;
        width: 375px;
    }

    .texto_footer{
        margin: 20% 0% 0% 0%;
        text-align: center;
        width: 350px;
    }

    .get_footer{
        bottom: 0%;
        justify-content: center;
        left: 29.5%;
        margin-top: 20%;
    }

    form,
    .go{
        margin-left: 10%;
        margin-top: 15%;
        position: absolute;
    }

    .go{
        margin-left: 30%;
        margin-top: -5%;
    }

    .go:hover{
        background-color: #242E52;
    }

    ul,
    .lista2{
        margin-left: -1;
        margin-top: 40%;
        position: absolute;
        text-align: left;
    }

    .lista2{
        margin-left: 58%;
    }

    a{
        left:0%;
        margin-left: -25%;
        width: 100%;
    }

    .menu img{
        margin-left: 18%;
        margin-top: 80%;
    }

    .menu p{
        margin-left: 20%;
        margin-top: 120%;
    }
}



